<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <ul>
        <li>
            <a href="/">Accueil</a>
            <a href="/bibliothecaires/ajoutmedia">Ajouter un media</a>
            <a href="/bibliothecaires/ajoutmembre">Les membres</a>
            <a href="/bibliothecaires/retourner_media/">retourner un emprunt</a>
            <a href="{% url 'creer_emprunt' %}">Créer un emprunt</a>
            <a href="{% url 'liste_emprunts' %}">Voir les emprunts</a>
            <a href="{% url 'logout' %}">Se déconnecter</a>
        </li>

    </ul>
</header>
</body>
</html>